<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LatinLyrics Bling-Bang-Bang-Born</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.jpg') }}" type="image/x-icon">
</head>
<body>
	<header id="inicio">
		<img src="{{ url_for('static', filename='IMG/Mash.jpg') }}" id="mash">
		<img src="{{ url_for('static', filename='IMG/Dot.jpg') }}" id="dot">
		<audio src="{{ url_for('static', filename='IMG/Bling_Bang_Bang_Born.mp3') }}" controls loop></audio>

		<h1>LETRAS -MASHLE-<br>Creepy Nuts - Bling-Bang-Bang-Born</h1>
		<h2>Propósito del Lyrics:</h2>
		<p>
			Principalmente que se diviertan y puedan cantar la canción de este gran anime. 
			Y claro que pueden saber qué significan, es decir, contribuir y facilitar a la 
			comunidad latinoamericana.
		</p>
	</header>

	<main>
		<div id="cuerpo">
			<h2>Letras</h2>

			<h3>[Intro]</h3>
			<p>Yeah, chico</p>
			
			<h3>[Verso 1]</h3>
			<p>
				Chiito, talentoso, arawaza, deseado<br>
				Prohibido, prohibir, claramente ilimitado<br>
				Desventaja, dimensión, no es de este mundo<br>
				Demasiado, no lo estás escuchando<br>
				Ey, acumulando rumores sobre los rivales<br>
				Wow, acumulando rumores sobre los rivales<br>
				En el bolsillo, desviado, ¡no lo aceptaremos de ninguna manera!<br>
				¿En serio? ¿Vas a seguir así?<br>
				¿Todo esto en serio?
			</p>
			<h3>[Estribillo]</h3>
			<p>
				Es en serio, es en serio, sí-sí-sí-sí<br>
				Bling-bang-bang, bling-bang-bang-born<br>
				Bling-bang-bang, bling-bang-bang-born<br>
			</p>
			<h3>[Verso 2]</h3>
			<p>
				Antes de demostrar tus habilidades<br>
				Vivirás más intensamente que tu oponente<br>
				El corazón palpitante se siente muy feliz<br>
				Claramente el mejor, el número uno<br>
				Siempre insatisfecho, todos los días están locos (Bling, bling, bling)<br>
				No necesitas siete luces, más que tu hielo, más helado (Helado)<br>
				Yo, todo lo que hago es sorprendente, pero muy feliz<br>
				Ah, estás alucinando, todos a tu alrededor<br>
				Familia y amigos riendo (Felices)<br>
				Ya no tenemos prohibiciones, todos pueden rendirse ante mí (Bang-bang-bang)<br>
				Sin libros de texto, sin problemas de exámenes<br>
				Un malvado encantamiento muy malo, escucha
			</p>
			<h3>[Pre-Coro]</h3>
			<p>
				Espejo, espejo, responde<br>
				¿Quién es el mejor? ¡Yo soy el mejor! Oh sí<br>
				Hasta donde pueda ir sin preocupaciones<br>
				Hacia el próximo, hacia el número uno<br>
			</p>
			<h3>[Estribillo]</h3>
			<p>
				Ahora cantando<br>
				Bling-bang-bang, bling-bang-bang, bling-bang-bang-born<br>
				(Ahora cantando)<br>
				Bling-bang-bang, bling-bang-bang, bling-bang-bang-born<br>
				(Ahora cantando)<br>
				Bling-bang-bang, bling-bang-bang, bling-bang-bang-born<br>
				Hacia el próximo, hacia el número uno
			</p>
			<h3>[Refrán]</h3>
			<p>
				Eyday, solo siendo yo mismo es una gran flexión<br>
				Eyday, nadie puede cerrarme la boca (Don't test)<br>
				Eyday, solo siendo yo mismo es una gran flexión<br>
				Eyday, nadie puede hacerme callar (Don't test)
			</p>
			<h3>[Verse 3]</h3>
			<p>
				Sí, sí, sí<br>
				Sin experiencia ni amplia formación, brillando<br>
				Esta existencia es un raro caldo de cultivo, brillando<br>
				Los aristócratas regresan sin licencia, el amante verde, verde<br>
				Una sola vez sacudiendo todo el país<br>
				Este bache es brillante<br>
				Si hay balas, está lleno<br>
				El poder de la palabra "Namari Namami" en Kansai<br>
				Música, suerte, diosa de la victoria, también esta noche, todos de golpe<br>
				Compitiendo como en un manga, luchando fácilmente<br>
				El poder abrumador viene de esta cabeza y esta boca<br>
				Este cuerpo no tiene tatuajes<br>
				Esta cara no tiene heridas<br>
				Una arruga talla un año duro<br>
				Bling-bang-bang, bling-bang-bang, bling-bang-bang-born<br>
				Brillando como soy, golpeando, para golpear<br>
				Nací en Japón para ser brillante, ¡ay!
			</p>	
			<h3>[Pre-Coro]</h3>
			<p>
				Espejo, espejo, responde<br>
				¿Quién es el mejor? ¡Yo soy el mejor! Oh sí<br>
				Hasta donde pueda ir sin preocupaciones<br>
				Hacia el próximo, hacia el número uno
			</p>
			<h3>[Estribillo]</h3>
			<p>
				Ahora cantando<br>
				Bling-bang-bang, bling-bang-bang, bling-bang-bang-born<br>
				(Ahora cantando)<br>
				Bling-bang-bang, bling-bang-bang, bling-bang-bang-born<br>
				(Ahora cantando)<br>
				Bling-bang-bang, bling-bang-bang, bling-bang-bang-born<br>
				Hacia el próximo, hacia el número uno
			</p>
			<h3>[Refrán]</h3>
			<p>
				Eyday, solo siendo yo mismo es una gran flexión<br>
				Eyday, nadie puede cerrarme la boca (Don't test)<br>
				Eyday, solo siendo yo mismo es una gran flexión<br>
				Eyday, nadie puede hacerme callar (Don't test)
			</p>
		</div>

		<div id="final">
			<h2>Te podrían interesar estos:</h2>

			<table>
				<tr>
					<th>Canción</th>
					<th>Artista</th>
				</tr>
				<tr>
					<td>
						<img src="{{ url_for('static', filename='IMG/Mic_Drop.jpg') }}">
						<a href="https://lyricsmicdrop.onrender.com" target="_blank">Mic Drop</a>
					</td>
					<td>BTS</td>
				</tr>
				<tr>
					<td>
						<img src="{{ url_for('static', filename='IMG/Fire.jpg') }}">
						<a href="https://lyricsfire.onrender.com" target="_blank">Fire</a>
					</td>
					<td>BTS</td>
				</tr>
				<tr>
					<td>
						<img src="{{ url_for('static', filename='IMG/Img_5.jpg') }}">
						<a href="https://tocatoca.onrender.com" target="_blank">Toca Toca</a>
					</td>
					<td>Fly Project</td>
				</tr>
			</table>

			<img src="{{ url_for('static', filename='IMG/Imagen_Grupal_1.jpg') }}" id="imagen-grupal">
			<img src="{{ url_for('static', filename='IMG/Imagen_Grupal_2.jpg') }}" id="imagen-grupal2">
			<img src="{{ url_for('static', filename='IMG/Imagen_Grupal_3.jpg') }}" id="imagen-grupal3">
			<img src="{{ url_for('static', filename='IMG/Imagen_4.jpg') }}" id="imagen-4">
		</div>
	</main>

	<footer>
	    <h1>LatinLyrics</h1>

        <ul>
        	<li>
            	<a href="https://github.com/Bredalis" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/GitHub.svg') }}" alt="GitHub" title="GitHub" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://www.linkedin.com/in/bredalis-gautreaux/" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/LinkedIn.svg') }}" alt="LinkedIn" title="LinkedIn" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://es.stackoverflow.com/users/293358/bredalis-gautreaux" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/Stack_OverFlow.svg') }}" alt="Stack OverFlow" title="Stack OverFlow" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://huggingface.co/chat/assistants?user=Bredalis" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/Hugging_Face.png') }}" alt="Hugging Face" title="Hugging Face">
            	</a>
            </li>
            <li>
            	<a href="https://x.com/Bredalis_P" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/X.svg') }}" alt="X" title="X" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/Licencia.svg') }}" alt="Licencia Pública General GNU v3.0" title="Licencia Pública General GNU v3.0" height="50">
            	</a>
            </li>
        </ul>

        <p>© 2024 LatinLyrics<br>Todos los derechos reservados</p>
	</footer>
</body>
</html>